@model ManagementApp.Models.AllEmployeesViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employees</h2>

<table class="table">
  <tr>
    <th>User Id</th>
    <th>Name</th>
    <th>Receive</th>
    <th>Stow</th>
    <th>Pick</th>
    <th>Pack</th>
    <th>Ship</th>
    <th></th>
  </tr>
  @foreach (var employee in Model.Employees)
  {
    <tr>@employee.Id</tr>
    <tr>@employee.Name</tr>
    <tr>@Html.CheckBoxFor(_ => employee.EmployeeInfo.Receive, new {@enabled = false})</tr>
    <tr>@Html.CheckBoxFor(_ => employee.EmployeeInfo.Stow)</tr>
    <tr>@Html.CheckBoxFor(_ => employee.EmployeeInfo.Pick)</tr>
    <tr>@Html.CheckBoxFor(_ => employee.EmployeeInfo.Pack)</tr>
    <tr>@Html.CheckBoxFor(_ => employee.EmployeeInfo.Ship)</tr>
    <tr>@Html.ActionLink("Edit", "Edit", "Employee", new{ id = employee.Id}, new { @class = "btn btn-dark" })</tr>
  }

</table>